@media (max-width: 480px) {
}
@media (max-width: 768px) {
}
@media (max-width: 1024px) {
	.aboutus {
		.aboutus-img {
			width: 400px;
			height: 250px;
		}
		.aboutus-description {
			width: 400px;
			height: 250px;
		}
	}
}
@media (max-width: 1200px) {
	.aboutus {
		.aboutus-img {
			width: 400px;
			height: 250px;
		}
		.aboutus-description {
			width: 400px;
			height: 250px;
		}
	}
}
@media (min-width: 1201px) {
}
